

#contact.contact-footer.section
	.section-head.text-center
		h2 Get in Touch
		h4 How can we save your world today?
	.grid-x.grid-margin-x
		.cell.small-6.text-right
			a.button(href="request.html") Request a Quote
		.cell.small-6.text-left
			a.button.hollow.primary(href="#",data-open='contactform') Drop us a Line






footer
	.grid-x.grid-container
		.cell.small-12.medium-6
			p HeroUnit is a branch of
				a(href="http://AcklenAvenue.com") AcklenAvenue
			| 
			p All Rights Reserved 2018
		.cell.small-12.medium-6.text-right
			ul.social-links
				li: a(href="http://twitter.com/herounitio")
					i.icon(data-feather="twitter")
				li: a(href="https://www.linkedin.com/company/herounit/")
					i.icon(data-feather="linkedin")
				//li: a(href="#")
					i.icon(data-feather="github")
				li: a(href="https://www.facebook.com/herounit.io/")
					i.icon(data-feather="facebook")
										
														
										

script.
	feather.replace()

script.
	$(document).ready(function(){
		$('.staff-carousel').slick({
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1400,
			pauseOnHover: false,
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 1,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 640,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
				]
		});
	});


script.
	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
			anchor.addEventListener('click', function (e) {
					e.preventDefault();

					document.querySelector(this.getAttribute('href')).scrollIntoView({
							behavior: 'smooth'
					});
			});
	});
	
	
	
script.
	(function($) {          
	    $(document).ready(function(){                    
	        $(window).scroll(function(){                          
	            if ($(this).scrollTop() > 900) {
	                $('.top-bar').addClass( "stacked" );
	            } else {
	                $('.top-bar').removeClass( "stacked" );
	            }
	        });
	    });
	})(jQuery);

script.
	$("#requestlink").click(function (e) {
	    $('#contactform').foundation('reveal', 'open');
	});


script(src='js/jquery.js')
script(src='js/what-input.js')
script(src='js/slick.min.js')
script(src='js/foundation.js')
script(src='js/app.js')
