include includes/header.pug
	
	
.welcome-container.margin-bottom-big
	.grid-x.grid-margin-y
		.cell.small-6.medium-6.welcome-text
			h2.welcome-title.margin-bottom-small Your Proactive Support Superhero.
			.welcome-description
				p.margin-bottom-small Focus on your business while we focus on your software. Whether you need a full-stack development team to develop your dream from scratch, or a proactive team of experts ready to provide support and mantainance, HeroUnit is the superhero you can rely on!
			.buttongroup.hide-for-small-only
				a.button.secondary(href="request.html") Request a Quote
				a.button.clear.secondary(href="#learnmore") Learn More
		
		.cell.small-6.medium-6: .welcome-graphic
			// Illustration Placeholder


#services.section.grid-container
	
	.section-head.text-center
		
		h2 Our services
		h4 Or Should we say Our Super Powers?
	.services-list.grid-x.grid-margin-y.grid-margin-x
		#learnmore
		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp1
			h5 24/7 Proactive Support
					
		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp3
			h5 Web Development
				
		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp5
			h5 DevOps
					
		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp2
			h5 Mobile App Development
			
		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp4
			h5 Back-end Development

		.card-service.cell.small-6.medium-2.text-center
			.serv-picture.sp6
			h5 Project Management
			
	table.table-services.unstriped
		thead
			tr
				th.head-service Service
				th(style="width: 17%") Basic
				th Premium
				th.col-gold
					i.icon.icon-left(data-feather="star")
					| Gold
		tbody
			tr
				td.text-left 
					h6 Included Credits Per Month
				td 40
				td.col-mid 80
				td 120
			tr
				td.text-left 
					h6 Free Ramp-UP
				td 1 Week
				td.col-mid 1 Week
				td 1 Week
			tr
				td.text-left
					h6 Development
					p Emergency Response, General Coding and Bug Fixes, Technical Debt Management, Dependency Management
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Operations
					p Work with 3rd Party Service Providers, Build/Deployment, Automation, Server Diagnosis/Repair, General Infrastructure and Maintenance.
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Testing
					p Regression Testing, Load/Performance Testing, Functional Testing, Security/Penetration Testing, Test Automation.
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Design
					p Development Assets, Logo design/updates, Prototyping.
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left(colspan='4') 
					h5 Additional Offerings:
			tr
				td.text-left
					h6 Transparency Tools
					p Access to Issue Management Tools, Access to Team Chat, Monthly Report of Work Done
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Monitoring
					p Infrastructure Costs, Performance, Database Server Status, Web Server Status, 3rd Party Integration Status, Application Usage, SEO Ranking.
				td: i.icon.icon-red(data-feather="check")
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Strategy
					p SEO Optimization, Ongoing Backlog Review
				td
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Health
					p Upgrade packages for minor version updates and security patches, Increase test coverage.
				td
				td.col-mid: i.icon.icon-red(data-feather="check")
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Advisory
					p Monthly CTO Calls, Product Manager Calls
				td 1 Product Manager Call
				td.col-mid 1 CTO Call + 2 Product Manager Calls
				td 2 CTO Calls + 4 Product Manager Calls
			tr
				td.text-left
					h6 Operations
					p Domain name and hosting maintenance and renewal, Upgrades & changes to integrations, platforms, OSs and Scheduled offsite backups
				td
				td.col-mid
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Fully Alocated Team
					p Principled Developers,,Tenacious Software Testers
				td
				td.col-mid
				td: i.icon.icon-red(data-feather="check")
			tr
				td.text-left
					h6 Monthly Rate
				td
					a#requestlink(href="#",data-open="contactform")
						i.icon.icon-left(data-feather="mail")
						| Request
				td.col-mid
					a#requestlink(href="#",data-open="contactform")
						i.icon.icon-left(data-feather="mail")
						| Request
				td
					a#requestlink(href="#",data-open="contactform")
						i.icon.icon-left(data-feather="mail")
						| Request

					

#technologies.section.grid-container.margin-bottom-big
	.grid-x.grid-margin-y.grid-margin-x
		.technologies-logos

#whyus.section.grid-container.margin-bottom-big
	.section-head.text-center
		h2 Why HeroUnit?
		h4 (Basically, not everyone else can be a hero)
	.grid-x.grid-margin-y.grid-margin-x
		.cell.small-6
			.illu-whyus
		.cell.small-6
			.text-group.margin-bottom-big
				h6.checked Team-work philosophy
				p We work as a team. With very few exceptions, there are always at least two heroes working together to solve your problems, this way we can share knowledge and prevent silos, and also keep our heroes focused and accountable. 
				
			.text-group.margin-bottom-big
				h6.checked Emergency (Proactive) Support
				p While your team handles customer-level support, we’ll be ready to handle the toughest engineering-level issues. When you’re in a jam, HeroUnit is ready just in time. 
			
			.text-group.margin-bottom-big
				h6.checked Credit-based maintenance
				p Your team will follow your lead, spending credits from your bucket each month. It’s up to you what they work on and when. One credit is the same as one hour if the team uses it during normal USA business hours. But you have the flexibility to use credits at other times as well.
				
			.text-group.margin-bottom-big
				h6.checked Complementary Services
				p In addition to the work you decide the team will perform, the HeroUnit team will also take it upon themselves to ensure your application is constantly improving using various tools and methods depending on your level of support.




#about.section.grid-container.margin-bottom-big
	.section-head.text-center
		h2 About HeroUnit
		h4 Our true identity is not a secret for you!
	.grid-x.grid-margin-y.grid-margin-x
		.cell.small-12.medium-5
			.about-photo
		.cell.small-12.medium-7
			p Byron Sommardahl, the founder of HeroUnit, has lived with one foot in Nashville, TN and another foot in Honduras since 2010. Byron and his partners at Acklen Avenue Software discovered immense and mostly unnoticed technical talent in Latin America and especially in Honduras! That talent is what drives both Acklen Avenue and HeroUnit today.
			p Honduras and Nashville are in the same time-zone and is just about 4 hours away by plane, these are some of the facts that help us keep our business growing up together with satisfied clients since 2010!




#staff.section
	.section-head.text-center.margin-bottom-big
		h2 League of Heroes
		
	.staff-carousel.row.small-up-2.medium-up-2.large-up-4
	
			
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/byron.jpg")
				h6 Byron Sommardahl
				p Superpower:
				strong.superpower X-Ray Vision and Superstrength, Coding problems don't stand a chance
		
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/elder.jpg")
				h6 Elder Cerrato
				p Superpower:
				strong.superpower Eagle-eyes for spotting evil defects.



		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/chrisescalon.jpg")
				h6 Christopher Escalon
				p Superpower:
				strong.superpower X-Ray vision, no bug can scape my sight

		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/ronyvidaur.jpg")
				h6 Rony Vidaur
				p Superpower:
				strong.superpower Shapeshifting, adapt to both backend and frontend development

		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/rafaelsequeiros.jpg")
				h6 Rafaell Sequeiros
				p Superpower:
				strong.superpower Cyborg power, being able to absorb new technologies naturally.

		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/dennismolina.jpg")
				h6 Dennis Molina
				p Superpower:
				strong.superpower Laser Focus, Can zero in on a piece of code and identify problems.
				
				

				
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/colleen.jpg")
				h6 Colleen Reidelbach
				p Superpower:
				strong.superpower Powers of Pursuasion

		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/colin.jpg")
				h6 Colin Callahan
				p Superpower:
				strong.superpower Superhuman Marksman, Never misses a target

				
				
				
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/joshchappell.jpg")
				h6 Josh Chappell
				p Superpower:
				strong.superpower Reactive Adaptation, constantly learning, absorbing, and improving.



		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/angelzelaya.jpg")
				h6 Angel Zelaya
				p Superpower:
				strong.superpower Extra sensory perception: can detect what mere mortals can't.
				
				
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/jimmyramos.jpg")
				h6 Jimmy Ramos
				p Superpower:
				strong.superpower Quciksilver learner


		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/mohiddinshaikh.jpg")
				h6 Mohiddin Shaikh
				p Superpower:
				strong.superpower Power to build Immutable Infrastructure


		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/edwardsiwady.jpg")
				h6 Edward Siwady
				p Superpower:
				strong.superpower Beautiful Coding Superpowers

				
		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/fernandamezquita.jpg")
				h6 Fernanda Mezquita
				p Superpower:
				strong.superpower Hyperactive Management


		.card-staff.column.column-block
			.staff-photo
			.staff-info
				img(src="src/img/staff/bily.jpg")
				h6 Bily Fernandez
				p Superpower:
				strong.superpower Agility, strength, speed, endurance, and reaction time





#contactform.reveal.small.text-center(data-reveal='')
	h1 Get in Touch
	p We want to hear from you! Please feel free to request a custom quote for your product or project and we'll happy to assist you.
	h4 info@herounit.io
	h6 (615) 988-4700
	button.close-button(data-close='', aria-label='Close modal', type='button')
		span(aria-hidden='true') ×



include includes/footer.pug
